<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{#link-to 'bgguser'}}<span class="navbar-brand">BGGBuddy @@version</span>{{/link-to}}
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">

    <!-- e-mail icon -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-messages">
        {{#each singleMessage in model.messages}}
          <li>
            <a href="#">
              <div>
                <strong>{{singleMessage.author}}</strong>
                <span class="pull-right text-muted">
                  <em>{{singleMessage.time}}</em>
                </span>
              </div>
              <div>{{singleMessage.message}}</div>
            </a>
          </li>
          <li class="divider"></li>
        {{/each}}
        <li>
          <a class="text-center" href="#">
            <strong>Read All Messages</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-messages -->
    </li>
    <!-- /.dropdown -->

    <!-- tasks icon -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-tasks">
        {{#each singleTask in model.tasks}}
          <li>
            <a href="#">
              <div>
                <p>
                  <strong>{{singleTask.name}}</strong>
                  <span class="pull-right text-muted">{{singleTask.progress}}% Complete</span>
                </p>
                <div class="progress progress-striped active">
                  <div class="progress-bar {{singleTask.barType}}" aria-valuenow="{{singleTask.progress}}" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">{{singleTask.progress}}% Complete</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="divider"></li>
        {{/each}}
        <li>
          <a class="text-center" href="#">
            <strong>See All Tasks</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-tasks -->
    </li>
    <!-- /.dropdown -->

    <!-- alert icon -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-alerts">
        <li>
          <a href="#">
            <div>
              <i class="fa fa-comment fa-fw"></i> New Comment
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-twitter fa-fw"></i> 3 New Followers
              <span class="pull-right text-muted small">12 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>See All Alerts</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->

    <!-- user icon -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        {{#each singleOption in model.sideMenuOptions}}
          {{#if singleOption.subMenus}}
            <li>
              <a href='#'><i class="fa fa-fw {{singleOption.icon}}"></i> {{singleOption.name}}<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                {{#each subMenuOption in singleOption.subMenus}}
                  <li>
                    {{#link-to subMenuOption.link}}{{subMenuOption.name}}{{/link-to}}
                  </li>
                {{/each}}
              </ul>
            </li>
          {{else}}
            <li>
              {{#link-to singleOption.link}}<i class="fa fa-fw {{singleOption.icon}}"></i> {{singleOption.name}}{{/link-to}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
<div style="min-height: 635px;" id="page-wrapper">
{{outlet}}
</div>
